body{
    background-image: url('kk.jpg ');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
table{
    width: 80%;
    margin: 40px auto;
    background: rgb(124,154,167);
}
table.list{
    text-align: center;
    width: 100%;
}
td{
    border: 1px solid rgb(124,154,167);
    text-align: left;
    padding: 8px 15px;
}
tr:nth-child(even), table.list thead> tr{
    background-color: rgb(124,154,167);
}
input[type="text"],input[type="number"]{
    
    display: inline-block;
    
    padding: 3px 6px;
   border-radius: 4px;
   margin: 8px 0;
   

}
input[type="submit"]{
    background: #eee;
    padding: 6px 12px;
    margin: 15;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    background: rgb(140, 186, 238);
}
button{
    background: #eee;
    padding: 4px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor:pointer;
    outline: none;

}
button:hover{
    background: #975252;
}